.caixa1 {
  width: 300px;
  height: 300px;
  padding: 10px 12px 14px 16px;
  border-width: 2px;
  border-style: dotted;
  margin: 10px;
}
.menu{
background:#000000; 
}
.menu a{
font-size: 20px;
color: #ffffff;
text-decoration: none;
}
.menu ul{
padding: 20px;
}
