/**{margin:0;padding:0;box-sizing:border-box;}*/

.header{
  width:100%;
  max-width:900px;
  margin:auto;
 }
.h1{
  font-family:Impact, Haettenschweiler;
  font-size: 30px;
}
.caixa1 {
  float: left;
  width: 500px;
  height: 450px;
  padding: 10px 12px 14px 16px;
  border-width: 2px;
  border-style: dotted;
  margin: 10px;
}
.caixa2 {
  float: left;
  background-color: #E5E5E5;
  width: 500px;
  height: 450px;
  padding: 10px 12px 14px 16px;
  border-width: 2px;
  border-style: dotted;
  margin: 10px;
}

nav { /*estil del quadrat del centre */
  width: 300px;
  margin: 100px auto;
  text-align: center;
  nav { /*estil del quadrat del centre */
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background:#FFFFFF;

}
nav ul {
list-style: none;
}
nav li { /*també*/
background-color: rgb(240, 96, 13);
margin-bottom: 1px; /*això deixa espai entre els buttons i crea l'efecte de les linies*/
position: relative;
}
nav a {
  display: block;
  padding: 10px;
  
  color: black;
  font-weight: bold;
}
nav ul ul { /*Menu deplegable*/
  display: none;
  position: absolute;
  top: 200%;
  right: -100px;
  top: -39px;
  
}
nav ul li:hover > ul { /*Serveix per crear el menu desplegable */
display: inherit;
}
}
nav ul {
list-style: none;
}
nav li { /*també*/
background-color: rgb(240, 96, 13);
margin-bottom: 1px; /*això deixa espai entre els buttons i crea l'efecte de les linies*/
position: relative;
}
nav a {
  display: block;
  padding: 10px;
  
  color: black;
  font-weight: bold;
}
nav ul ul { /*Menu deplegable*/
  display: none;
  position: absolute;
  top: 200%;
  right: -100px;
  top: -39px;
  
}
nav ul li:hover > ul { /*Serveix per crear el menu desplegable */
display: inherit;
}

/*creació d'un botó per enllaçar a altres lloc o a altres llocs 
de la web*/
.boto {
  border: 1px solid #525252; /*amplada, estil i color borde*/
  padding: 10px; /*espacio al voltant del text*/
  background-color: #525252; /*color botó*/
  color: #ffffff; /*color text*/
  text-decoration: none; /*decoració text*/
  text-transform: uppercase; /*capitalizació text*/
  font-family: 'Helvetica', sans-serif; /*tipografía text*/
  border-radius: 0px; /*bordes rodons*/
  float: right;
  }
