.caixa1 {
  float: left;
  width: 500px;
  height: 450px;
  padding: 10px 12px 14px 16px;
  border-width: 2px;
  border-style: dotted;
  margin: 10px;
}
.caixa2 {
  float: left;
  width: 500px;
  height: 450px;
  padding: 10px 12px 14px 16px;
  border-width: 2px;
  border-style: dotted;
  margin: 10px;
}
.menu{
background:#000000; 
}
.menu a{
font-size: 20px;
color: #ffffff;
text-decoration: none;
}
.menu ul{
padding: 20px;
}

